Package:seqfwd
Version:X.X
Maintainer:Datalust Pty Ltd, Contributors. Packed by Alexander Bekrenev.
Architecture:amd64
Section:net
Description:Seq HTTP Log Forwarder
Depends:liblmdb-dev
Conflicts:seqfwd-custom